src/main/app/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="localhost" port="1521" instance="orcl" user="c##scott" password="tiger" doc:name="Oracle Configuration"/>
    <flow name="foreachFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/foreach" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object"/>
        <foreach doc:name="For Each">
            <db:insert config-ref="Oracle_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[insert into employee (EMPNO, FIRSTNAME, LASTNAME, AGE, GENDER, DESIGNATION, SALARY, EMAIL) values (#[payload.EMPNO], #[payload.FIRSTNAME], #[payload.LASTNAME], #[payload.AGE], #[payload.GENDER], #[payload.DESIGNATION], #[payload.SALARY], #[payload.EMAIL])]]></db:parameterized-query>
            </db:insert>
        </foreach>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
